# Data Manipulation

### [12 Useful Pandas Techniques in Python for Data Manipulation](https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/)

In [131]:
import numpy as np
import pandas as pd

# dfs = pd.read_excel("housing_week1.xlsx", sheet_name="US")
# print(dfs.head(10))
house_file = pd.read_excel('/Users/nadezdachikurova/Downloads/housing2b_week1.xlsx')

house_file

,"Housing Table 2b. Confidence in Ability to Make Next Month's Payment for Renter-Occupied Housing Units, by Select Characteristics: United States",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older in Renter-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,Occupied without rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Did not report to tenure
3,NaN,NaN,NaN,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
6,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
21,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
43,Household income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [78]:
#print(house_file.head(10))

In [132]:
# Renaming the columns

file_1 = house_file.rename(columns=
                  {"Housing Table 2b. Confidence in Ability to Make Next Month's Payment for Renter-Occupied Housing Units, by Select Characteristics: United States": "Characteristics", 
                           "Unnamed: 1": "Total",
                           "Unnamed: 2": "Occupied without rent",
                  "Unnamed: 3": "No confidence",
                  "Unnamed: 4": "Slight confidence",
                   "Unnamed: 5": "Moderate confidence",
                   "Unnamed: 6": "High confidence",
                   "Unnamed: 7": "Payment is/will be deferred",
                   "Unnamed: 8": "Did not report",
                   "Unnamed: 9": "Did not report to tenure"
                  })
print(file_1)
#print(file_1.head(10))

                                      Characteristics     Total  \
0   Source: U.S. Census Bureau Household Pulse Sur...       NaN
1   Total Population 18 Years and Older in Renter-...       NaN
2                              Select characteristics     Total
3                                                 NaN       NaN
4                                                 NaN       NaN
5                                               Total  75266101
6                                                Age        NaN
7                                             18 - 24   7313446
8                                             25 - 39  33959243
9                                             40 - 54  17607031
10                                            55 - 64   9157888
11                                       65 and above   7228493
12                                               Sex        NaN
13                                               Male  34772104
14                                             Female  40493997
15                          Hispanic origin and Race        NaN
16            Hispanic or Latino (may be of any race)  16075749
17                          White alone, not Hispanic  37772948
18                          Black alone, not Hispanic  14221712
19                          Asian alone, not Hispanic   3215458
20      Two or more races + Other races, not Hispanic   3980236
21                                         Education        NaN
22                              Less than high school   7630908
23                                 High school or GED  26587535
24                    Some college/associate’s degree  24354295
25                        Bachelor’s degree or higher  16693364
26                                    Marital status        NaN
27                                            Married  25834503
28                                            Widowed   2202944
29                                 Divorced/separated  15201104
30                                      Never married  31865484
31                                     Did not report    162066
32           Presence of children under 18 years old        NaN
33                              Children in household  32906303
34                                        No children  42359798
35  Respondent or household member experienced los...       NaN
36                                                Yes  41321638
37                                                 No  33841565
38                                     Did not report    102898
39                     Respondent currently employed        NaN
40                                                Yes  39313969
41                                                 No  35828698
42                                     Did not report    123434
43                                  Household income        NaN
44                                  Less than $25,000  21689403
45                                  $25,000 - $34,999  12988376
46                                  $35,000 - $49,999  11602952
47                                  $50,000 - $74,999  11880529
48                                  $75,000 - $99,999   6442384
49                                $100,000 - $149,999   5653816
50                                $150,000 - $199,999   1708519
51                                 $200,000 and above   1467499
52                                     Did not report   1832624

    Occupied without rent                        No confidence  \
0                     NaN                                  NaN
1                     NaN                                  NaN
2   Occupied without rent  Confidence to pay next month’s rent
3                     NaN                        No confidence
4                     NaN                                  NaN
5                 3798689                              8918242
6                     NaN                                  NaN
7                  286454                               639268
8                 1546625                              4399374
9                  969268                              2469898
10                 501794                               989617
11                 494549                               420084
12                    NaN                                  NaN
13                1917582                              4169523
14                1881108                              4748719
15                    NaN                                  NaN
16                 708252                              2723391
17                2119711                              3020518
18                 650218                              2331905
19                 122829                               308873
20                 197681                               533556
21                    NaN                                  NaN
22                 513201                              1482489
23                1279935                              3706781
24                1322092                              2792612
25                 683462                               936360
26                    NaN                                  NaN
27                1177934                              2965813
28                 129374                               222984
29                 935960                              1930192
30                1503222                              3791412
31                  52199                                 7842
32                    NaN                                  NaN
33                1723646                              5027156
34                2075043                              3891086
35                    NaN                                  NaN
36                2021026                              7408049
37                1776290                              1510193
38                   1373                                    -
39                    NaN                                  NaN
40                1352887                              3021359
41                2443357                              5885026
42                   2445                                11857
43                    NaN                                  NaN
44                1670355                              3674597
45                 783383                              1737369
46                 376157                              1545670
47                 359512                              1149608
48                 205200                               394303
49                 188250                               187964
50                  51620                                47277
51                  51832                                 6968
52                 112379                               174485

                      Slight confidence                  Moderate confidence  \
0                                   NaN                                  NaN
1                                   NaN                                  NaN
2   Confidence to pay next month’s rent  Confidence to pay next month’s rent
3                     Slight confidence                  Moderate confidence
4                                   NaN                                  NaN
5                              12571649                             18070862
6                                   NaN                                  NaN
7                               1172462                              2366278
8                               5968053                              7623589
9                               3292263                              4272341
10                              1423160                              2213671
11                               715712                              1594982
12                                  NaN                                  NaN
13                              5147850                              8134709
14                              7423800                              9936152
15                                  NaN                                  NaN
16                              3765786                              4289939
17                              4193252                              8471643
18                              3340880                              3580659
19                               626124                               609280
20                               645608                              1119341
21                                  NaN                                  NaN
22                              1871459                              1973579
23                              5046450                              6599701
24                              4232609                              6489522
25                              1421132                              3008059
26                                  NaN                                  NaN
27                              3819950                              5805097
28                               349965                               382827
29                              2694637                              3655383
30                              5677647                              8207982
31                                29451                                19572
32                                  NaN                                  NaN
33                              6777250                              8111053
34                              5794399                              9959809
35                                  NaN                                  NaN
36                              9045115                             10963049
37                              3520496                              7098074
38                                 6038                                 9738
39                                  NaN                                  NaN
40                              5671822                              9241154
41                              6862370                              8827869
42                                37457                                 1838
43                                  NaN                                  NaN
44                              4503163                              5662511
45                              2787412                              3398243
46                              2066892                              3066365
47                              1853850                              2877970
48                               711095                              1269592
49                               310039                              1136326
50                                56030                               204079
51                                26299                                94045
52                               256869                               361729

                        High confidence          Payment is/will be deferred  \
0                                   NaN                                  NaN
1                                   NaN                                  NaN
2   Confidence to pay next month’s rent  Confidence to pay next month’s rent
3                       High confidence          Payment is/will be deferred
4                                   NaN                                  NaN
5                              30643777                               938815
6                                   NaN                                  NaN
7                               2756071                                72011
8                              13842252                               500551
9                               6251731                               282027
10                              3897265                                51138
11                              3896458                                33088
12                                  NaN                                  NaN
13                             14857509                               514882
14                             15786268                               423933
15                                  NaN                                  NaN
16                              4383535                               115420
17                             19355953                               528322
18                              3952208                               220040
19                              1530841                                16760
20                              1421240                                58273
21                                  NaN                                  NaN
22                              1588923                                55419
23                              9522006                               343938
24                              9112126                               332959
25                             10420722                               206499
26                                  NaN                                  NaN
27                             11777371                               219162
28                              1104429                                12613
29                              5611630                               259105
30                             12112585                               447936
31                                37762                                    -
32                                  NaN                                  NaN
33                             10689768                               452199
34                             19954009                               486617
35                                  NaN                                  NaN
36                             11226544                               492088
37                             19333237                               446727
38                                83997                                    -
39                                  NaN                                  NaN
40                             19426974                               524342
41                             11148719                               414473
42                                68084                                    -
43                                  NaN                                  NaN
44                              5753678                               356632
45                              4204783                                77185
46                              4479861                                68006
47                              5474198                               164259
48                              3773428                                88765
49                              3678059                                96797
50                              1336142                                13371
51                              1260841                                27513
52                               682788                                46285

                         Did not report  Did not report to tenure
0                                   NaN                       NaN
1                                   NaN                       NaN
2   Confidence to pay next month’s rent  Did not report to tenure
3                        Did not report                       NaN
4                                   NaN                       NaN
5                                324066                  26676331
6                                   NaN                       NaN
7                                 20902                   2625570
8                                 78798                   8137828
9                                 69504                   6160146
10                                81243                   4476699
11                                73620                   5276088
12                                  NaN                       NaN
13                                30049                  11927883
14                               294018                  14748448
15                                  NaN                       NaN
16                                89427                   5834066
17                                83550                  14293951
18                               145803                   4084623
19                                  751                   1400182
20                                 4536                   1063508
21                                  NaN                       NaN
22                               145838                   3033298
23                                88723                  10016935
24                                72375                   7735679
25                                17130                   5890419
26                                  NaN                       NaN
27                                69175                  12803992
28                                  751                   1533592
29                               114198                   3731480
30                               124700                   7489643
31                                15241                   1117623
32                                  NaN                       NaN
33                               125231                  11427501
34                               198836                  15248829
35                                  NaN                       NaN
36                               165766                  12672258
37                               156548                  12877152
38                                 1752                   1126920
39                                  NaN                       NaN
40                                75432                  12821000
41                               246882                  12471720
42                                 1752                   1383610
43                                  NaN                       NaN
44                                68466                    154249
45                                    -                     66443
46                                    -                     40117
47                                 1131                    104523
48                                    -                     33749
49                                56380                     22708
50                                    -                     11099
51                                    -                     15879
52                               198089                  26227564

In [81]:
file_1

,Characteristics,Total,Occupied without rent,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,Did not report to tenure
0,Source: U.S. Census Bureau Household Pulse Sur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total Population 18 Years and Older in Renter-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Select characteristics,Total,Occupied without rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Confidence to pay next month’s rent,Did not report to tenure
3,NaN,NaN,NaN,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
6,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
21,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
43,Household income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [133]:
# Dropping first five rows
file_2 = file_1.iloc[5:]
file_2

,Characteristics,Total,Occupied without rent,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,Did not report to tenure
5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
6,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
12,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
21,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
43,Household income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [134]:
# did't need this one

##Adding new column 'Category' by the end of the dataframe

# file_2['Category'] = 'category'

# # Moving column 'Category' to the front
# col_name="Category"
# first_col = file_2.pop(col_name)
# file_2.insert(0, col_name, first_col)
# file_2

In [135]:
file_2.reset_index(inplace = True)
file_2

,index,Characteristics,Total,Occupied without rent,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,Did not report to tenure
0,5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
1,6,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
3,8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
4,9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
5,10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
6,11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
7,12,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
9,14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
10,15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
12,17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
13,18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
14,19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
15,20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
16,21,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
18,23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
19,24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
20,25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
21,26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
23,28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
24,29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
25,30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
26,31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
27,32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
29,34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
30,35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
32,37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
33,38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
34,39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
36,41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
37,42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
38,43,Household income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
40,45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
41,46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
42,47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
43,48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
44,49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
45,50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
46,51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
47,52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [143]:
file_3 = file_2.rename({0: 'Total',
               2: 'Age', 3: 'Age', 4: 'Age', 5: 'Age', 6: 'Age',
               8: 'Sex', 9: 'Sex',
              11: 'Hispanic origin and Race',
              12: 'Hispanic origin and Race',
              13: 'Hispanic origin and Race',
              14: 'Hispanic origin and Race',
              15: 'Hispanic origin and Race',
              17: 'Education',
              18: 'Education',
              19: 'Education',
              20: 'Education',
              22: 'Marital status',
              23: 'Marital status',
               24: 'Marital status',
               25: 'Marital status',
               26: 'Marital status',
              28: 'Presence of children under 18 years old',
              29: 'Presence of children under 18 years old',
              31: 'Respondent or household member experienced loss of employment income ',
              32: 'Respondent or household member experienced loss of employment income',
              33: 'Respondent or household member experienced loss of employment income',
              35: 'Respondent currently employed',
              36: 'Respondent currently employed',
              37: 'Respondent currently employed',
              39: 'Household income',
              40: 'Household income',
              41: 'Household income',
              42: 'Household income',
              43: 'Household income',
              44: 'Household income',
              45: 'Household income',
              46: 'Household income',
              47: 'Household income'})
file_3

,index,Characteristics,Total,Occupied without rent,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,Did not report to tenure
Total,5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
1,6,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
Age,8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
Age,9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
Age,10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
Age,11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
7,12,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
Sex,14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
10,15,Hispanic origin and Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hispanic origin and Race,16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
Hispanic origin and Race,17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
Hispanic origin and Race,18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
Hispanic origin and Race,19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
Hispanic origin and Race,20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
16,21,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
Education,23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
Education,24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
Education,25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
21,26,Marital status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital status,27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
Marital status,28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
Marital status,29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
Marital status,30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
Marital status,31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
27,32,Presence of children under 18 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Presence of children under 18 years old,33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
Presence of children under 18 years old,34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
30,35,Respondent or household member experienced los...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Respondent or household member experienced loss of employment income,36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
Respondent or household member experienced loss of employment income,37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
Respondent or household member experienced loss of employment income,38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
34,39,Respondent currently employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Respondent currently employed,40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
Respondent currently employed,41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
Respondent currently employed,42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
38,43,Household income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Household income,44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
Household income,45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
Household income,46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
Household income,47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
Household income,48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
Household income,49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
Household income,50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
Household income,51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
Household income,52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [145]:
# Dropping categorical rows with no values in columns

file_4 = file_3.drop([1,7,10,16,21,27,30,34,38])
file_4

,index,Characteristics,Total,Occupied without rent,No confidence,Slight confidence,Moderate confidence,High confidence,Payment is/will be deferred,Did not report,Did not report to tenure
Total,5,Total,75266101,3798689,8918242,12571649,18070862,30643777,938815,324066,26676331
Age,7,18 - 24,7313446,286454,639268,1172462,2366278,2756071,72011,20902,2625570
Age,8,25 - 39,33959243,1546625,4399374,5968053,7623589,13842252,500551,78798,8137828
Age,9,40 - 54,17607031,969268,2469898,3292263,4272341,6251731,282027,69504,6160146
Age,10,55 - 64,9157888,501794,989617,1423160,2213671,3897265,51138,81243,4476699
Age,11,65 and above,7228493,494549,420084,715712,1594982,3896458,33088,73620,5276088
Sex,13,Male,34772104,1917582,4169523,5147850,8134709,14857509,514882,30049,11927883
Sex,14,Female,40493997,1881108,4748719,7423800,9936152,15786268,423933,294018,14748448
Hispanic origin and Race,16,Hispanic or Latino (may be of any race),16075749,708252,2723391,3765786,4289939,4383535,115420,89427,5834066
Hispanic origin and Race,17,"White alone, not Hispanic",37772948,2119711,3020518,4193252,8471643,19355953,528322,83550,14293951
Hispanic origin and Race,18,"Black alone, not Hispanic",14221712,650218,2331905,3340880,3580659,3952208,220040,145803,4084623
Hispanic origin and Race,19,"Asian alone, not Hispanic",3215458,122829,308873,626124,609280,1530841,16760,751,1400182
Hispanic origin and Race,20,"Two or more races + Other races, not Hispanic",3980236,197681,533556,645608,1119341,1421240,58273,4536,1063508
Education,22,Less than high school,7630908,513201,1482489,1871459,1973579,1588923,55419,145838,3033298
Education,23,High school or GED,26587535,1279935,3706781,5046450,6599701,9522006,343938,88723,10016935
Education,24,Some college/associate’s degree,24354295,1322092,2792612,4232609,6489522,9112126,332959,72375,7735679
Education,25,Bachelor’s degree or higher,16693364,683462,936360,1421132,3008059,10420722,206499,17130,5890419
Marital status,27,Married,25834503,1177934,2965813,3819950,5805097,11777371,219162,69175,12803992
Marital status,28,Widowed,2202944,129374,222984,349965,382827,1104429,12613,751,1533592
Marital status,29,Divorced/separated,15201104,935960,1930192,2694637,3655383,5611630,259105,114198,3731480
Marital status,30,Never married,31865484,1503222,3791412,5677647,8207982,12112585,447936,124700,7489643
Marital status,31,Did not report,162066,52199,7842,29451,19572,37762,-,15241,1117623
Presence of children under 18 years old,33,Children in household,32906303,1723646,5027156,6777250,8111053,10689768,452199,125231,11427501
Presence of children under 18 years old,34,No children,42359798,2075043,3891086,5794399,9959809,19954009,486617,198836,15248829
Respondent or household member experienced loss of employment income,36,Yes,41321638,2021026,7408049,9045115,10963049,11226544,492088,165766,12672258
Respondent or household member experienced loss of employment income,37,No,33841565,1776290,1510193,3520496,7098074,19333237,446727,156548,12877152
Respondent or household member experienced loss of employment income,38,Did not report,102898,1373,-,6038,9738,83997,-,1752,1126920
Respondent currently employed,40,Yes,39313969,1352887,3021359,5671822,9241154,19426974,524342,75432,12821000
Respondent currently employed,41,No,35828698,2443357,5885026,6862370,8827869,11148719,414473,246882,12471720
Respondent currently employed,42,Did not report,123434,2445,11857,37457,1838,68084,-,1752,1383610
Household income,44,"Less than $25,000",21689403,1670355,3674597,4503163,5662511,5753678,356632,68466,154249
Household income,45,"$25,000 - $34,999",12988376,783383,1737369,2787412,3398243,4204783,77185,-,66443
Household income,46,"$35,000 - $49,999",11602952,376157,1545670,2066892,3066365,4479861,68006,-,40117
Household income,47,"$50,000 - $74,999",11880529,359512,1149608,1853850,2877970,5474198,164259,1131,104523
Household income,48,"$75,000 - $99,999",6442384,205200,394303,711095,1269592,3773428,88765,-,33749
Household income,49,"$100,000 - $149,999",5653816,188250,187964,310039,1136326,3678059,96797,56380,22708
Household income,50,"$150,000 - $199,999",1708519,51620,47277,56030,204079,1336142,13371,-,11099
Household income,51,"$200,000 and above",1467499,51832,6968,26299,94045,1260841,27513,-,15879
Household income,52,Did not report,1832624,112379,174485,256869,361729,682788,46285,198089,26227564

In [159]:
# find out about other work sheets
#df1 = pd.read_excel(house_file, 'AZ')

In [149]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

In [152]:
#Applying per column:
print ("Missing values per column:")
print (file_4.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

Missing values per column:
index                          0
Characteristics                0
Total                          0
Occupied without rent          0
No confidence                  0
Slight confidence              0
Moderate confidence            0
High confidence                0
Payment is/will be deferred    0
Did not report                 0
Did not report to tenure       0
dtype: int64

In [153]:
#Applying per row:
print ("\nMissing values per row:")
print (house_file.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per row:
0     9
1     9
2     0
3     4
4    10
dtype: int64

In [160]:
file_4.to_csv(r'/Users/nadezdachikurova/Desktop/New_house.csv')

### Imputing missing values using Pandas

In [161]:
## First we import scipy function to determine the mode

# from scipy.stats import mode
# mode(house_file['Column_name'])

### [Get JSON from Excel using Python, xlrd](https://anthonydebarros.com/2013/02/05/get-json-from-excel-using-python-xlrd/)

In [33]:
import xlrd

In [34]:
# Open the workbook
xlrd_file = xlrd.open_workbook('/Users/nadezdachikurova/Downloads/housing2b_week1.xlsx')

In [40]:
# Print the sheet names
print (xlrd_file.sheet_names())

['US', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'Boston_Metro_Area', 'Atlanta_Metro_Area', 'Los.Angeles_Metro_Area', 'Phoenix_Metro_Area', 'New.York_Metro_Area', 'San.Francisco_Metro_Area', 'Chicago_Metro_Area', 'Dallas_Metro_Area', 'Riverside_Metro_Area', 'Detroit_Metro_Area', 'Houston_Metro_Area', 'Washington.DC_Metro_Area', 'Philadelphia_Metro_Area', 'Seattle_Metro_Area', 'Miami_Metro_Area']

In [62]:
# Get the first sheet either by index or by name
print(xlrd_file.sheet_by_index(1))

<xlrd.sheet.Sheet object at 0x7f8654cc6080>

In [61]:
sh = xlrd_file.sheet_by_index(0)
sh

In [49]:
# Iterate through rows, returning each as a list that you can index:
for rownum in range(sh.nrows):
    print (sh.row_values(rownum))

["Housing Table 2b. Confidence in Ability to Make Next Month's Payment for Renter-Occupied Housing Units, by Select Characteristics: United States", '', '', '', '', '', '', '', '', '']
['Source: U.S. Census Bureau Household Pulse Survey, Week 1.', '', '', '', '', '', '', '', '', '']
['Total Population 18 Years and Older in Renter-Occupied Housing Units', '', '', '', '', '', '', '', '', '']
['Select characteristics', 'Total', 'Occupied without rent', 'Confidence to pay next month’s rent', 'Confidence to pay next month’s rent', 'Confidence to pay next month’s rent', 'Confidence to pay next month’s rent', 'Confidence to pay next month’s rent', 'Confidence to pay next month’s rent', 'Did not report to tenure']
['', '', '', 'No confidence', 'Slight confidence', 'Moderate confidence', 'High confidence', 'Payment is/will be deferred', 'Did not report', '']
['', '', '', '', '', '', '', '', '', '']
['Total', 75266101.0, 3798689.0, 8918242.0, 12571649.0, 18070862.0, 30643777.0, 938815.0, 324066.0, 26676331.0]
['Age ', '', '', '', '', '', '', '', '', '']
['    18 - 24', 7313446.0, 286454.0, 639268.0, 1172462.0, 2366278.0, 2756071.0, 72011.0, 20902.0, 2625570.0]
['    25 - 39', 33959243.0, 1546625.0, 4399374.0, 5968053.0, 7623589.0, 13842252.0, 500551.0, 78798.0, 8137828.0]
['    40 - 54', 17607031.0, 969268.0, 2469898.0, 3292263.0, 4272341.0, 6251731.0, 282027.0, 69504.0, 6160146.0]
['    55 - 64', 9157888.0, 501794.0, 989617.0, 1423160.0, 2213671.0, 3897265.0, 51138.0, 81243.0, 4476699.0]
['    65 and above', 7228493.0, 494549.0, 420084.0, 715712.0, 1594982.0, 3896458.0, 33088.0, 73620.0, 5276088.0]
['Sex ', '', '', '', '', '', '', '', '', '']
['    Male', 34772104.0, 1917582.0, 4169523.0, 5147850.0, 8134709.0, 14857509.0, 514882.0, 30049.0, 11927883.0]
['    Female', 40493997.0, 1881108.0, 4748719.0, 7423800.0, 9936152.0, 15786268.0, 423933.0, 294018.0, 14748448.0]
['Hispanic origin and Race ', '', '', '', '', '', '', '', '', '']
['    Hispanic or Latino (may be of any race)', 16075749.0, 708252.0, 2723391.0, 3765786.0, 4289939.0, 4383535.0, 115420.0, 89427.0, 5834066.0]
['    White alone, not Hispanic', 37772948.0, 2119711.0, 3020518.0, 4193252.0, 8471643.0, 19355953.0, 528322.0, 83550.0, 14293951.0]
['    Black alone, not Hispanic', 14221712.0, 650218.0, 2331905.0, 3340880.0, 3580659.0, 3952208.0, 220040.0, 145803.0, 4084623.0]
['    Asian alone, not Hispanic', 3215458.0, 122829.0, 308873.0, 626124.0, 609280.0, 1530841.0, 16760.0, 751.0, 1400182.0]
['    Two or more races + Other races, not Hispanic', 3980236.0, 197681.0, 533556.0, 645608.0, 1119341.0, 1421240.0, 58273.0, 4536.0, 1063508.0]
['Education ', '', '', '', '', '', '', '', '', '']
['    Less than high school', 7630908.0, 513201.0, 1482489.0, 1871459.0, 1973579.0, 1588923.0, 55419.0, 145838.0, 3033298.0]
['    High school or GED', 26587535.0, 1279935.0, 3706781.0, 5046450.0, 6599701.0, 9522006.0, 343938.0, 88723.0, 10016935.0]
['    Some college/associate’s degree', 24354295.0, 1322092.0, 2792612.0, 4232609.0, 6489522.0, 9112126.0, 332959.0, 72375.0, 7735679.0]
['    Bachelor’s degree or higher', 16693364.0, 683462.0, 936360.0, 1421132.0, 3008059.0, 10420722.0, 206499.0, 17130.0, 5890419.0]
['Marital status ', '', '', '', '', '', '', '', '', '']
['    Married', 25834503.0, 1177934.0, 2965813.0, 3819950.0, 5805097.0, 11777371.0, 219162.0, 69175.0, 12803992.0]
['    Widowed', 2202944.0, 129374.0, 222984.0, 349965.0, 382827.0, 1104429.0, 12613.0, 751.0, 1533592.0]
['    Divorced/separated', 15201104.0, 935960.0, 1930192.0, 2694637.0, 3655383.0, 5611630.0, 259105.0, 114198.0, 3731480.0]
['    Never married', 31865484.0, 1503222.0, 3791412.0, 5677647.0, 8207982.0, 12112585.0, 447936.0, 124700.0, 7489643.0]
['    Did not report', 162066.0, 52199.0, 7842.0, 29451.0, 19572.0, 37762.0, '-', 15241.0, 1117623.0]
['Presence of children under 18 years old ', '', '', '', '', '', '', '', '', '']
['    Children in household', 32906303.0, 1723646.0, 5027156.0, 6777250.0, 8111053.0, 10689768.0, 452199.0, 125231.0, 11427501.0]
['    No children', 42359798.0, 2075043.0, 3891086.0, 5794399.0, 9959809.0, 19954009.0, 486617.0, 198836.0, 15248829.0]
['Respondent or household member experienced loss of employment income ', '', '', '', '', '', '', '', '', '']
['    Yes', 41321638.0, 2021026.0, 7408049.0, 9045115.0, 10963049.0, 11226544.0, 492088.0, 165766.0, 12672258.0]
['    No', 33841565.0, 1776290.0, 1510193.0, 3520496.0, 7098074.0, 19333237.0, 446727.0, 156548.0, 12877152.0]
['    Did not report', 102898.0, 1373.0, '-', 6038.0, 9738.0, 83997.0, '-', 1752.0, 1126920.0]
['Respondent currently employed ', '', '', '', '', '', '', '', '', '']
['    Yes', 39313969.0, 1352887.0, 3021359.0, 5671822.0, 9241154.0, 19426974.0, 524342.0, 75432.0, 12821000.0]
['    No', 35828698.0, 2443357.0, 5885026.0, 6862370.0, 8827869.0, 11148719.0, 414473.0, 246882.0, 12471720.0]
['    Did not report', 123434.0, 2445.0, 11857.0, 37457.0, 1838.0, 68084.0, '-', 1752.0, 1383610.0]
['Household income ', '', '', '', '', '', '', '', '', '']
['    Less than $25,000', 21689403.0, 1670355.0, 3674597.0, 4503163.0, 5662511.0, 5753678.0, 356632.0, 68466.0, 154249.0]
['    $25,000 - $34,999', 12988376.0, 783383.0, 1737369.0, 2787412.0, 3398243.0, 4204783.0, 77185.0, '-', 66443.0]
['    $35,000 - $49,999', 11602952.0, 376157.0, 1545670.0, 2066892.0, 3066365.0, 4479861.0, 68006.0, '-', 40117.0]
['    $50,000 - $74,999', 11880529.0, 359512.0, 1149608.0, 1853850.0, 2877970.0, 5474198.0, 164259.0, 1131.0, 104523.0]
['    $75,000 - $99,999', 6442384.0, 205200.0, 394303.0, 711095.0, 1269592.0, 3773428.0, 88765.0, '-', 33749.0]
['    $100,000 - $149,999', 5653816.0, 188250.0, 187964.0, 310039.0, 1136326.0, 3678059.0, 96797.0, 56380.0, 22708.0]
['    $150,000 - $199,999', 1708519.0, 51620.0, 47277.0, 56030.0, 204079.0, 1336142.0, 13371.0, '-', 11099.0]
['    $200,000 and above', 1467499.0, 51832.0, 6968.0, 26299.0, 94045.0, 1260841.0, 27513.0, '-', 15879.0]
['    Did not report', 1832624.0, 112379.0, 174485.0, 256869.0, 361729.0, 682788.0, 46285.0, 198089.0, 26227564.0]

In [ ]:
n_sh = sh.row_values(rownum).iloc[3:]
n_sh

In [45]:
# If you just want the first column:
first_column = sh.col_values(0)
print (first_column)

["Housing Table 2b. Confidence in Ability to Make Next Month's Payment for Renter-Occupied Housing Units, by Select Characteristics: United States", 'Source: U.S. Census Bureau Household Pulse Survey, Week 1.', 'Total Population 18 Years and Older in Renter-Occupied Housing Units', 'Select characteristics', '', '', 'Total', 'Age ', '    18 - 24', '    25 - 39', '    40 - 54', '    55 - 64', '    65 and above', 'Sex ', '    Male', '    Female', 'Hispanic origin and Race ', '    Hispanic or Latino (may be of any race)', '    White alone, not Hispanic', '    Black alone, not Hispanic', '    Asian alone, not Hispanic', '    Two or more races + Other races, not Hispanic', 'Education ', '    Less than high school', '    High school or GED', '    Some college/associate’s degree', '    Bachelor’s degree or higher', 'Marital status ', '    Married', '    Widowed', '    Divorced/separated', '    Never married', '    Did not report', 'Presence of children under 18 years old ', '    Children in household', '    No children', 'Respondent or household member experienced loss of employment income ', '    Yes', '    No', '    Did not report', 'Respondent currently employed ', '    Yes', '    No', '    Did not report', 'Household income ', '    Less than $25,000', '    $25,000 - $34,999', '    $35,000 - $49,999', '    $50,000 - $74,999', '    $75,000 - $99,999', '    $100,000 - $149,999', '    $150,000 - $199,999', '    $200,000 and above', '    Did not report']

In [52]:
# Index individual cells:
cell_c4 = sh.cell(3, 2).value
# Or you can use:
#cell_c4 = sh.cell(rowx=3, colx=2).value
print (cell_c4)

Occupied without rent

In [ ]:
# Let's say you want the same cell from x identical sheets in a workbook:
x = 2
while x >= 0:
    sh = xlrd_file.sheet_by_index(x)
    cell_x = sh.cell(2, 3).value
    print (cell_x)
    #x = x - 1